@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home {
    height: 30vh;
    width: 50vw;
    padding: 10px;
}

.he {
    font-family: Roboto;
    font-size: 30px;
    color: black;
    text-align: center;
}

.she {
    color: black;
    font-size: 14px;
    font-family: Roboto;
    text-align: center;
}

.myProjects-image {
    height: 40vh;
    padding: 10px;
    width: 50vw;
}

.home-bottom {
    width: 50vw;
}

.card1 {
    padding: 15px;
}

.image1 {
    height: 15vh;
}

.name {
    color: #151765;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.epi {
    color: #5a7184;
    font-family: Roboto;
    text-align: center;
    font-size: 15px;
}



















.main {
    text-align: left;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.head {
    color: #5752ab;
    font-family: Bree Serif;
    font-size: 30px;
}

.para {
    color: #323f4b;
    font-family: Roboto;
    font-size: 18px;
}

.button1 {
    background-color: #5752ab;
    border-color: #d7dfe9;
    color: #ffffff;
    font-family: Roboto;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 12px;
}

.button2 {
    background-color: #ffffff;
    border-color: #d7dfe9;
    font-family: Roboto;
    color: #171f46;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    margin: 20px;
    font-size: 12px;
}

.card {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 20vh;
    padding: 20px;
}















.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}









.main2 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 85vh;
    width: 60vw;
    text-align: center;
    color: #323f4b;
}

.head2 {
    text-align: left;
    font-family: Bree Serif;

}

.para2 {
    font-family: Roboto;
    text-align: left;
}

.button2 {
    background-color: #ffffff;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
}

.card2 {
    background-color: #f6c56e;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}











.main4 {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.head4 {
    text-align: left;
    font-family: Roboto;
    color: #323f4b;

}

.para4 {
    font-family: Roboto;
    text-align: left;
    color: #7b8794;
}

.para4 {
    font-family: Roboto;
    text-align: left;
    color: #7b8794;
    font-size: 14px;
}

.button4 {
    background-color: #ffffff;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
}

.card4 {
    background-color: #ffffff;
    text-align: center;
    height: 60vh;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}